body, html{
  background-color:#dff7f7;
  padding: 15px;
html, body {
  margin: 0;
  padding: 4px;
  width: 100%;
  font-family: 'Shojumaru', sans-serif;
  font-weight: 400;
  background-color: #012e00;
}

.pageHeader {
    width: 60%;
    display: block;
    margin-left: left;
    margin-right: left;
    padding-bottom: 10px;
  }
* {
  box-sizing: content-box;
}

  h1 {
    color:#6b1b1b;
    text-align: left;
  }
h1 {
  font-size: 22px;
}

ul{
  margin: 10px auto 0;
.heading {
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  padding: 10px;
  position: absolute;

  color: #ccb0eb;
}

.new-style {
  margin-bottom: 50px;
.heading h1 {
  font-size: 36px;
}

.wrapper {
  width: 100%;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style-type: none;
  position: absolute;
  width: 90%;
  margin: 4px auto 0;
  padding: 9px;

 *{
   padding: 0;
   margin: 0;
 }
}

li {
  display: flex;
  justify-content: auto;
  align-items: left;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  text-align: center;
}

/* Styling for list of Pokemon buttons */
.pokemon-name {
  background-color: #40f23a;
  color: #000;
  width: 240px;
  height: 50px;
  border: 0.9px outset;
  font-size: 15px;
  border-radius: 15px;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

button {
  background: none;
  color: #3735b5;
  width: 240px;
  height: 50px;
  border: 2px solid;
  font-size: 15px;
  border-radius: 4px;
.wrapper {
  width: 100%;
}


#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: rgba(0, 0, 0, 0);

  z-index: 999;


  overflow: auto;


  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  border: solid;
  background-color: #40f23a;
  animation: fadeIn .1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  animation: bondJamesBond 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: #9cf799;
  color: #c90606;
  margin-bottom: 0px;
  font-size: 12px;
  opacity:0;
  position:relative;
  animation: modalContentFadeIn .5s 1.4s linear forwards;
}

.modal h1,p {
  opacity:0;
  position:relative;
  animation: modalContentFadeIn .5s 1.4s linear forwards;
}

.modal-img {
  opacity:0;
  position:relative;
  animation: modalContentFadeIn .5s 1.4s linear forwards;
}

@media all and (max-width: 1310px) {

  ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1080px) {

  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 800px) {

  ul {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 20px;
  }
}

@media all and (max-width: 540px) {

  ul {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
    }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes bondJamesBond {
  0% {
    transform:translateX(1000px);
    height: 120px;
    width: 120px;
    border-width: thin;
    border-radius: 60px;
  }
  80% {
    transform:translateX(0px);
    height: 120px;
    width: 120px;
    border-width: thin;
    border-radius: 60px;
  }
  90% {
    height: 220px;
    width: 380px;
    border-width: medium;
    border-radius: 40px;
  }
  100% {
    height: 260px;
    width: 400px;
    border-radius: 20px;
  }
}
